<form action="/#" method="post">
    <div>
        <label>Card name</label>
        <input name="cardName" type="text" value="{{card_name}}" class="form-control" aria-describedby="button-addon4">
    </div>
    <div>
        <label>Description card</label>
        <input name="descriptionCard" type="text" value="{{description}}" class="form-control"
               aria-describedby="button-addon4">
    </div>
    <div>
        <label>Date finish task</label>
        <input name="dateFinishTaskCard" type="text" value="{{date_finish_task}}" class="form-control"
               aria-describedby="button-addon4">
    </div>
    <div>
        <button type="submit" id="submit" class="btn btn-outline-success">Update</button>
    </div>
    <p></p>
</form>

<form action="/addComment/{{id}}" method="post" >
    <div>
        <label>Write comment</label>
        <input type="text" name="comment" class="form-control" aria-describedby="button-addon4">
        <button type="submit" id="submit" class="btn btn-outline-success">Add comment</button>
    </div>
</form>

<form action="/comment/{{id}}" method="get">
    <button type="submit" id="submit" class="btn btn-outline-success">Get comments</button>
    <p>{{body_comment}}</p>
</form>