<form>
    <div>
        <label>Card name</label>
        <input name="cardName" type="text" id="card-{{id}}" value="{{card_name}}" class="form-control" aria-describedby="button-addon4">
    </div>
    <div>
        <label>Description card</label>
        <input name="descriptionCard" id="description-{{id}}" type="text" value="{{description}}" class="form-control"
               aria-describedby="button-addon4">
    </div>
    <div>
        <label>Date finish task</label>
        <!-- type="date"-->
        <input name="dateFinishTaskCard" id="date-{{id}}" value="{{date_finish_task}}" class="form-control" aria-describedby="button-addon4">
    </div>
    <div>
        <button type="submit" onclick="updateCard({{id}})" id="submit" class="btn btn-outline-success">Update</button>
        <button type="submit" onclick="deleteCard({{id}})" id="submit" class="btn btn-outline-danger">Delete</button>
    </div>
    <p></p>
</form>

<form action="/api/addComment/{{id}}" method="post">
    <div>
        <label>Write comment</label>
        <input type="text" name="comment" class="form-control" aria-describedby="button-addon4">
        <button type="submit" id="submit" class="btn btn-outline-success">Add comment</button>
    </div>
</form>

<a href="/api/comment/{{id}}" class="btn btn-outline-success">Get comments</a>
